<section class="faq section-container" id="hakkimizda">
    <div class="faq-container">
        <div class="faq-details">
            <h1 class="subTitle">Hakkımızda</h1>
            <p>Merhaba! Biz Seval ve Seda Sarıkaya kardeşler olarak, 2 yıl önce güzellik ve saç bakımına olan tutkumuzu bir adım ileri taşıyarak Seval Sarıkaya Güzellik ve Saç Salonu’nu açtık. O günden bu yana, hem işletmeci hem de çalışan olarak, burayı sadece bir salon değil, kadınların kendilerini özel ve güzel hissedeceği sıcak bir ortam haline getirmeye çalışıyoruz.</p>
            <p>Burada, saç kesiminden renklendirmeye, profesyonel makyajdan cilt bakımına kadar birçok hizmet sunuyoruz. Ama en önemlisi, her müşterimizi bir arkadaşımız gibi görüp, onun isteklerini dinleyerek en iyi hizmeti vermeye çalışıyoruz. Size yakışanı birlikte keşfedelim! 💇‍♀️✨</p>
            <p>Eğer şöyle rahatlatıcı bir bakım yapmak, yenilenmiş hissetmek ya da sadece kahve eşliğinde güzel bir sohbet için bile uğramak isterseniz, her zaman bekleriz. Güzellik bizim işimiz, mutluluk sizin hakkınız! 💕</p>
        </div>
    </div>
    <div id="faq-obj">Seval & Seda<br>Sırakaya</div>
</section>